{% extends "base.html" %}
{% block content %}
<div class="add-1">

<div class="adding">
   Add a new movie
</div>
<form action="" method="POST", enctype="multipart/form-data" >
  <div class="add">
  {{form.hidden_tag()}}
  <P>
  {{form.MovieCode.label}}<br />
  <input id="MovieCode" name="MovieCode"  type="text"/>
  </P>
  <p>
    {{form.title.label}}<br />
    <input id="title"  name="title"  type="text"/>
  </p>
  <p>
    {{form.director.label}}<br />
    <input id="director" name="director"type="text"/>
  </p>
  <p>
    {{form.leadActors.label}}<br />
    <input id="leadActors" name="leadActors" type="text"/>
  </p>
  <p>
    {{form.description.label}}<br />
    <input id="description" name="description" type="text"/>
  </p>
  </div>
  <div class="add">


  <p>
    <br/>

    {{form.file(class="f-b")}}<br /><br />

    {{form.timeslot.label}} <br />{{ form.timeslot(rows=6, multiple=True, class="scroll") }}<br />

  </p>
  <p>
    {{form.submit(class="add-form")}}
  </p>
    </div>
</form>



</div>
{% endblock %}
