{% set active_page = "admi" %}
{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<div class="add-1">

  <div class="adding">
     Administration and statistics
  </div>

    <!-- <br/>
    {% set c = namespace(value=0) %}
    {% for o in order %}
      {% set c.value = c.value + o.income %}
    {% endfor %}
    Total income from all movies: £{{c.value}}
    <br/> -->


    <div class="stats">
      <table class="stable">
        <tr>
          <td class="bf">
            Movie title
          </td>
          <td class="bf">
            Total income per title
          </td>
        </tr>
        {% for m in movie %}
          {% set mov = namespace(value=0) %}
          {% for o in order %}
            {% if o.movie_id == m.id %}
              {% set mov.value = mov.value + o.income %}
            {% endif %}
          {% endfor %}
          <tr>
            <td>
              {{m.title}}
            </td>
            <td>
              £{{mov.value}}
            </td>
          </tr>
        {% endfor %}
          <tr class="bf4">
            <td>
              Total income
            </td>
            <td>
              £{{c.value}}
            </td>
          </tr>

      </table>
    </div>


    <!-- <h2> 2. Income per movie </h2>

    {% for m in movie %}
      {% set mov = namespace(value=0) %}
      {% for o in order %}
        {% if o.movie_id == m.id %}
          {% set mov.value = mov.value + o.income %}
        {% endif %}
      {% endfor %}
      <h2> {{m.title}}: £{{mov.value}} </h2>
    {% endfor %} -->

    </div>

    <div class="badnavs2">
      <div class="badnav">
        <a class="badhref" href="{{url_for('chart')}}" > Graph: income per day </a>
      </div>
      <div class="badnav">
        <a class="badhref" href="{{url_for('chart2')}}">   Graph: income per movie </a>
      </div>
      <div class="badnav">
      <a class="badhref" href="{{url_for('chart4')}}">  Graph: time period </a>
      </div>
    </div>
{%endblock%}
