{%extends "base.html" %}
{% set active_page = "moviez" %}
{% block content %}

<div class="mvz">

            {% for m in movie %}
                <div class="it">

                  <div class="titl">
                  {{m.title}}
                  </div>

                  <a href="/info?id={{m.id}}"><img src= "{{url_for('static',filename=m.name)}}" /></a>
                  </div>

          {%endfor%}
</div>


<form action="" method="post" name="create">
    {{ form.hidden_tag() }}
    {{ form.target(class="sbar") }}
</form>

    {%endblock%}
