<!doctype html>
{% from "_formhelpers.html" import render_field %}
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css" >
  <link rel="icon" type = "image/png" href = "../static/icons/stamp.png" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body class="bg">

  <!-- please read no further -->

  {%if active_page != 'login'%}

  <div class="top-bar">
    <span class="panel">
      {% if mode == 10 %}
        STAFF
      {% else %}
        MANAGER
      {% endif %}
    </span>

  </div>

    <div class="background">
      <div class="happy_div">


      <ul class="nav">

        <li>

          <a {%- if request.path == "/allMovies" or request.path == "/info" or request.path == "/bookticket" %} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('AllMovies')}}">

            <img src="/static/icons/g21-list-ico.png" alt="unable to display" class="nav-ico">
            View movie list
          </a>
        </li>

        {% if mode == 10 %}

        <li>

          <a {%- if request.path == "/tick"%} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('tick')}}">
            <img src="/static/icons/g21-tick-ico.png" alt="unable to display" class="nav-ico">
            View tickets
          </a>
        </li>

        {% endif %}

        {% if mode == 20 %}

        <li>

          <a {%- if request.path == "/AddMovies"%} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('AddMovies')}}">
            <img src="/static/icons/g21-add-ico.png" alt="unable to display" class="nav-ico">
            Add movies
          </a>
        </li>


        <li>
          <a {%- if request.path == "/delete"%} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('deleteList')}}">
            <img src="/static/icons/g21-exit-ico.png" alt="unable to display" class="nav-ico">
            Delete movies
          </a>
        </li>

        <li>
          <a {%- if request.path == "/timeslot"%} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('TimeSlot')}}">
            <img src="/static/icons/g21-time-ico.png" alt="unable to display" class="nav-ico">
            Manage timeslots
          </a>
        </li>


        <li>
           <a {%- if request.path == "/chart" or request.path == "/chart2" or request.path == "/chart4" %} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('chart')}}">
             <img src="/static/icons/g21-stat-ico.png" alt="unable to display" class="nav-ico">
             Statistics
           </a>
         </li>



         <!-- <li>
            <a {%- if request.path == "/chart"%} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('chart')}}">
              <img src="/static/icons/g21-stat-ico.png" alt="unable to display" class="nav-ico">
              Graph-Income Per Day
            </a>
          </li>

          <li>
             <a {%- if request.path == "/chart2"%} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('chart2')}}">
               <img src="/static/icons/g21-stat-ico.png" alt="unable to display" class="nav-ico">
               Graph-Income Per Movie
             </a>
           </li>
           <li>
              <a {%- if request.path == "/chart4"%} class="aux-s" {% else %} class="aux" {% endif %} href="{{url_for('chart4')}}">
                <img src="/static/icons/g21-stat-ico.png" alt="unable to display" class="nav-ico">
                Graph-In Time Period
              </a>
            </li> -->



        {% endif %}

        <li>
          <a class="aux" href="{{url_for('login')}}">
            <img src="/static/icons/g21-out-ico.png" alt="unable to display" class="nav-ico">
            Logout
          </a>
        </li>

      </ul>

      </div>
  </div>


  {% if active_page == 'moviez'%}



    <div>

  {% elif active_page != 'login'%}

    <div class="mvz2">

  {% else %}

    <div class="center-content">



  {% endif %}


  {%endif%}

    {%if active_page == 'login'%}
      <div class="background2">
      <div id="board">
    {% endif %}

    {% block content %}

    {% endblock %}

    {%if active_page == 'login'%}
      </div>
    {% endif %}

  </div>

</body>

</html>
