{% extends "base.html" %}
{% set active_page = "booktype" %}
{% block content %}

<div class="view">
  <div class="ph">
      <img src= "{{url_for('static', filename=order.m.name)}}" width="300px" height="429px" />
  </div>
  <div class="inf">
    <table class="table-2">
      <tr>
       <td class="shift1">{{order.m.title}}</td>
      </tr>
      <tr>
       <td class="shift">Time: {{order.ts.slot}} </td>
      </tr>
      <tr>
       <td class="shift"> Specify number and type of tickets: </td>
      </tr>
    </table>


    <form action="" method="post" nonvalidate>
      {{form.hidden_tag()}}

        <br />
      <div class="ticketh">


      <input id="ticket_c" name="ticket_c" type="text" placeholder="Child" class="tickett" />

      <div class="price">
        £6.00
      </div>
      <!-- {{form.ticket_c.data}} -->


      <input id="ticket_a" name="ticket_a" type="text" placeholder="Adult" class="tickett"/>

      <div class="price">
        £8.00
      </div>



      <input id="ticket_s" name="ticket_s" type="text" placeholder="Senior" class="tickett"/>
      <div class="price">
        £7.00
      </div>
        </div>

      {{form.submit2(class="paybutton")}}

    </form>
    <div class="flash">
       {% with messages = get_flashed_messages() %}
         {% if messages %}
           {% for message in messages %}
             {{ message }}
           {% endfor %}
         {% endif %}
       {% endwith %}
     </div>
  </div>



   </div>

   {%endblock%}
