{%extends "base.html"%}
{% block content %}
<div class="booker">
<div>
  Book ticket
</div>
<h2> Movie name: {{order.m.title}} || Movie code: {{order.m.MovieCode}} </h2>
<h2> Timeslot(s): {{order.ts.slot}} </h2>

<form action="" method="post" nonvalidate>
  {{form.hidden_tag()}}
  <p>
    {{form.ticket_c.label}}<br />
  <input id="ticket_c" name="ticket_c" type="text"/>
  &emsp;&emsp;
  Price: £6/ticket
  {{form.ticket_c.data}}
</p>
  <p>
    {{form.ticket_a.label}}<br />
  <input id="ticket_a" name="ticket_a" type="text"/>
  &emsp;&emsp;
  Price: £8/ticket
</p>
  <p>
    {{form.ticket_s.label}}<br />
  <input id="ticket_s" name="ticket_s" type="text"/>
  &emsp;&emsp;
  Price: £7/ticket
</p>
<p>
  {{form.submit1()}}
</p>
  <p>
    {{form.submit2()}}
  </p>
</form>

<h3> Total number of tickets booked: {{order.quantity}}</h3>
<h3> Number of seats available: {{100 - order.quantity}}</h3>
<h3> Income for this movie in this timeslot: £{{order.income}}</h3>

</div>

{%endblock%}
