{% extends "base.html" %}
{% set active_page = "l" %}
{% block content %}


<div class="view">
  <div class="ph">
      <img src= "{{url_for('static', filename=m.name)}}" width="300px" height="429px" />
  </div>
  <div class="inf">
    <table class="table-2">
      <tr>
       <td class="shift1">{{m.title}}</td>
      </tr>
      <tr>

      </tr>
      <tr>
       <td class="shift"> Cash payment </td>
      </tr>
      <tr>
       <td class="shift"> Total to pay: £{{t}}.00 </td>
      </tr>
    </table>

    <br />
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
      <div class="pa">

        <input id="pay" name="pay" type="text" placeholder="Paid" class="cash"/>

        <div class="price2">
          Amount paid by customer
        </div>

        {{form.submit(class="paybutton2")}}

        </div>
    </form>
    <div class="flash">
       {% with messages = get_flashed_messages() %}
         {% if messages %}
           {% for message in messages %}
             {{ message }}
           {% endfor %}
         {% endif %}
       {% endwith %}
     </div>
  </div>

   </div>

   {%endblock%}
