{%extends "base.html" %}

{% block content %}


  {% for m in movie %}
  <div class="mv">
      <!-- {{m.title}} -->
      <div class="kartinka" >
        <img src= "{{url_for('static',filename=m.name)}}" />
        <!-- <div  >
          {{m.title}}
          <br />
          Movie code: {{m.MovieCode}}
          <br />
          Director: {{m.director}}
          <br />
          Lead Actors: {{m.leadActors}}

        </div> -->
      </div>
      <div class="dsc">
        <div class="ent2"> {{m.title}} </div>
        <div class="ent"> Movie Code: {{m.MovieCode}}  </div>
        <div class="ent"> Director: {{m.director}}  </div>
        <div class="ent"> Lead Actors: {{m.leadActors}}  </div>
        <div class="deleter">
          <a href="{{url_for('delete',id=m.id)}}"><button class="del">DELETE</button></a>
        </div>
      </div>




      <!-- <a href="{{url_for('delete',id=m.id)}}"><button class="del">Delete</button></a> -->

       </div>

  {%endfor%}


    <!-- <div class="mv">

    </div>

    <div class="mv">

    </div>

    <div class="mv">

    </div>
  </div>
  <div class="adding"> </div> -->

  <!-- <table class= "table-1">
    <tr>
      <td class="bf">
        Title
      </td>
      <td class="bf">
        Movie Code
      </td>

    </tr>
    {% for m in movie %}
    <tr>
      <td class="cell">
        {{m.title}}
      </td>
      <td class="cell">
        {{m.MovieCode}}
      </td>
      <td>
         <a href="{{url_for('delete',id=m.id)}}"><button class="del">Delete</button></a>
      </td>
    </tr>
    {%endfor%}
  </table> -->
  {{ form.hidden_tag() }}
  {{ form.target(class="sbar") }}

  <form action="" method="post" name="create">
      {{ form.hidden_tag() }}
      {{ form.target(class="sbar") }}
  </form>


    {%endblock%}
