{% set active_page = "gr3" %}
{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}

<div class="badnavs2">
  <div class="badnav">
    <a class="badhref" href="{{url_for('chart')}}" > Graph: income per day </a>
  </div>
  <div class="badnav">
    <a class="badhref" href="{{url_for('chart2')}}">   Graph: income per movie </a>
  </div>
  <div class="badnav">
  <a {% if active_page == "gr3"%} class="badhref-a" {% else %} class="badhref" {%endif%} href="{{url_for('chart4')}}">  Graph: time period </a>
  </div>
</div>
<div class="agn">
  <center>


    <canvas id="chart" width="900" height="600"></canvas>

    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "red",
          pointColor: "purple",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 15
       max = 500

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>
    <h1>Number of tickets sold from {{d1}} to {{d2}}</h1>
  </center>
</div>
{%endblock%}
