{% set active_page = "gr1" %}
{% extends "base.html" %}
{% block content %}

<div class="agn">


  <center>
    <canvas id="chart" width="900" height="600"></canvas>
    <script>

      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "red",
          pointColor: "red",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	    {% for item in values %}
              {{ item }},
            {% endfor %}]
          }
	]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

      steps = 20
      max = 800
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>
    <a class="labl"><b>Income per day</b></a>

  </center>
</div>

  <div class="badnavs2">
    <div class="badnav">
      <a {% if active_page == "gr1"%} class="badhref-a" {% else %} class="badhref" {%endif%} href="{{url_for('chart')}}" > Graph: income per day </a>
    </div>
    <div class="badnav">
      <a class="badhref" href="{{url_for('chart2')}}">   Graph: income per movie </a>
    </div>
    <div class="badnav">
    <a class="badhref" href="{{url_for('chart4')}}">  Graph: time period </a>
    </div>
  </div>


{%endblock%}
