{% extends "base.html" %}
{% set active_page = "info" %}
{% block content %}
<div class="add-1">
<div class= "table">
       <table class="infoMovies">
           <tr>
            <td>Movie Code:   </td>
            <td>{{m.MovieCode}}</td>
          </tr>

          <tr>
            <td>Movie Name:  </td>
            <td>{{m.title}}</td>
          </tr>
          <tr>
            <td>Director: </td>
            <td>{{m.director}}</td>
          </tr>
          <tr>
            <td>Lead Actor: </td>
            <td>{{m.leadActors}}</td>
          </tr>
          <tr>
            <td>Description: </td>
            <td>{{m.description}}</td>
          </tr>
          <tr>
            <td>Timeslot:</td>
            {% for t in m.timeslot %}
              {% if t.delete == False %}
                <td> {{t.slot}} </td>
              {% endif %}
            {% endfor %}
          </tr>

       </table>
   </div>
   </div>

   {%endblock%}
