{% extends "base.html" %}
{% set active_page = "info" %}
{% block content %}
<div class="view">
  <div class="ph">
      <img src= "{{url_for('static',filename=m.name)}}" width="300px" height="429px" />
  </div>
  <div class="inf">
    <table class="table-2">
      <tr>
       <td class="shift1">{{m.title}}</td>
      </tr>
      <tr>
         <td  class="shift"> Movie Code:   </td>
         <td class="shift">{{m.MovieCode}}</td>
      </tr>
       <tr>
         <td class="shift">Director: </td>
         <td class="shift">{{m.director}}</td>
       </tr>
       <tr>
         <td class="shift">Lead Actor(s): </td>
         <td class="shift"> {{m.leadActors}}</td>
       </tr>

       <tr>
         <td class="shift">Description: </td>

         <td class="shift">{{m.description}}</td>
       </tr>

    </table>
    <br />
    <br />
    <div class="ts">
      AVAILABILITY:
    </div>
    <br />
    <br />
    <table class ="table-3">

      {% for t in m.timeslot %}

      <tr>
                <td > {{t.slot}} </td>
                 {% if mode == 10%}
                <td class="shift-2">

                      <a href="/bookticket?mid={{m.id}}&tid={{t.id}}"><button class="bookt">Book ticket</button></a>
                </td>
                 {% endif %}
                   </tr>
            {% endfor %}


    </table>
  </div>


   </div>

   {%endblock%}
