{% extends "base.html" %}

{% block content %}
<div class="add-1">
  <div class="adding"> Create a new timeslot </div>
  <form action="" method="post" name="create">
      {{ form.hidden_tag() }}
      <p>
          New timeslot: <br />{{ form.slot(class="add-form") }}<br>
          {% for error in form.slot.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p><input type="submit" class="nb" value="Submit"></p>
  </form>

  Current timeslots:
     <table class="table">
         <th>ID</th>
         <th>Timeslot</th>
     <br>
     {% for t in time %}
      {% if t.delete == False %}
         <tr>
             <td>{{t.id}}</td> &emsp;&emsp;
             <td>{{t.slot}}</td> &emsp;&emsp;
         </tr>
      

       {% endif %}
     {% endfor %}
   </table>

   </div>
{% endblock %}
