{% set active_page = "login" %}
{% extends "base.html" %}
{% block content %}
  <div class="login-window">

    <div class="login-welcome">
      <a class="room"> G21 </a>
      <a class ="room2"> CINEMA BUSINESS APPLICATION</a>
      <div class="flash-login">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p> {{ form.username(class="login-field") }} </p>
        <p> {{ form.password(class="login-field") }} </p>
        <p> {{ form.cfpasswd(class="login-field") }} </p>
        <p> <input type="submit" value="REGISTER" class="login-button"> </p>
        <div class="newacc">
          <a href="/" class="reg"> Return to login </a>
        </div>
    </form>

  </div>
{%endblock%}
