{% extends "base.html" %}
{% set active_page = "cpay" %}
{% block content %}


<div class="view">
  <div class="ph">
      <img src= "{{url_for('static', filename=m.name)}}" width="300px" height="429px" />
  </div>
  <div class="inf">
    <table class="table-2">
      <tr>
       <td class="shift1">{{m.title}}</td>
      </tr>
      <tr>

      </tr>
      <tr>
       <td class="shift"> Payment successful </td>
      </tr>
      <tr>
        {% if pm == "card" %}
      <td class="shift"> Transaction approved </td>
        {% else %}
       <td class="shift"> Change: £{{r}}.00 </td>
         {% endif %}
      </tr>
    </table>

    <br />
    <form action="" method="post" novalidate>
      {{form.hidden_tag()}}

        {{form.submit(class="paybutton3")}}
    </form>
    <div class="flash">
       {% with messages = get_flashed_messages() %}
         {% if messages %}
           {% for message in messages %}
             {{ message }}
           {% endfor %}
         {% endif %}
       {% endwith %}
     </div>
  </div>







   </div>

   {%endblock%}
