{%extends "base.html" %}
{% set active_page = "staff" %}
{% block content %}
<h1>Book ticket</h1>
<h2> Movie name: {{order.m.title}} || Movie code: {{order.m.MovieCode}} </h2>
<h2> Timeslot: {{order.ts.slot}} </h2>
<h2> Total: {{order.income}} </h2>

<h3> Total number of tickets booked: {{order.quantity}}</h3>
{% endblock %}
