{% extends "base.html" %}
{% set active_page = "seats" %}
{% block content %}



<div class="view">
  <div class="ph">
      <img src= "{{url_for('static', filename=m.name)}}" width="300px" height="429px" />
  </div>
  <div class="inf">
    <table class="table-2">
      <tr>
       <td class="shift1">{{m.title}}</td>
      </tr>
      <tr>
        {% if lft <= 0%}
         <td class="shift">Please confirm your seats</td>
       {% elif lft == 1%}
         <td class="shift">Please choose {{lft}} more seat</td>
       {% else %}
         <td class="shift">Please choose {{lft}} more seats</td>
       {% endif%}
      </tr>
      <tr>
       <td class="shift"> <div class="screen">
         SCREEN
       </div></td>
      </tr>
      <tr>
       <td class="shift">



         <form action="" method="post">
           <div class="sts">
         {% for s in sts %}
           {% if s.status == True and s.reserved == False %}

             <input type="submit" name="val" value={{s.id}} {% if s.vip == True %} class="stv2" {% else %} class="st2" {% endif %}>

           {% elif s.status == False and s.reserved == False %}

             <input type="submit" name="val" value={{s.id}} {% if lft == 0 %} class="st3" disabled  {% elif s.vip == True %} class="stv" {% else %} class="st" {% endif %}>

          {% elif s.reserved == True %}

            <input type="submit" name="val" value={{s.id}} class="st3" disabled>

          {% endif %}

           {% if s.seat == "A10"%}

               <div class="rw">A</div>

           {% elif s.seat == "B10"%}

                <div class="rw">B</div>

           {% elif s.seat == "C10"%}

               <div class="rw">C</div>

           {% endif %}
         {% endfor %}
           </div>
           <div class="ns">


              <div class="al">
                <input type="submit" name="val" value="xd" class="st" disabled>
                Vacant seats
              </div>

              <div>
                <input type="submit" name="val" value="xd" class="stv" disabled>
                Vacant VIP seats, £2.00 extra
              </div>



           </div>



           <input type="submit" name ="val" value ="Pay by card" class="sbm" {% if lft != 0 %} disabled {% endif %}>
           <input type="submit" name ="val" value ="Pay by cash" class="sbm" {% if lft != 0 %} disabled {% endif %}>

         </form>
       </td>
      </tr>
    </table>





</div>
</div>

{%endblock%}
