{%extends "base.html" %}
{% set active_page = "staff" %}

{% block content %}


 <div class= "table">
        <table class="allMovies">
            <thead>
                <th>
                  Movie Code
                </th>
                <th>Movie Name</th>
            </thead>
            {% for m in movie %}
            <tr>
                <td>{{m.MovieCode}}</td>
                <td>
                  {{m.title}}
                </td>
                <td>
                  <a href="{{url_for('info2',id=m.id)}}"><button>Select</button></a>
                </td>
           </tr>

          {%endfor%}
        </table>
    </div>

    {%endblock%}
