<!doctype html>

<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css" >
  <link rel="icon" type = "image/png" href = "../static/icons/stamp.png" />
</head>
<body>


<div class="tickit">
  <div class="ttl">
      Ticket
  </div>

<div class="tinf">
  <p> Movie name: {{order.m.title}} </p>
  <p> Timeslot: {{order.ts.slot}} </p>
  <p> Date: {{order.date}} </p>
  {% set count = 1%}
  <p> Seats:
    {% for s in seats %}
    {{s}}

    {% endfor%}
  </p>
</div>
<div>

  <div class="ttl">
      Prices
  </div>
  <div class="tinf">
    <p> Child ticket: £6.00 </p>
    <p> Adult ticket: £8.00 </p>
    <p> Senior ticket: £7.00 </p>
    <p> VIP: +£2.00 to base ticket price </p>
  </div>

  <div class="ttl">
      Payment information
  </div>
  <div class="tinf">
    <p> Tickets bought: {%if c != 0%} {{c}} child ticket(s){% if a != 0 or s != 0%}, {%endif%} {% endif %} {%if a != 0%} {{a}} adult ticket(s){% if s != 0%}, {%endif%} {% endif %}{%if s != 0%} {{s}} senior ticket(s){% endif %}</p>
    <p> VIP seats: {{vips}} </p>
    <p> Payment type: {{type}} payment</p>
    <p> Total: £{{t}}.00</p>
    <p> Paid: £{{t}}.00</p>
  </div>

</div>
<div>
    <img src= "../static/icons/stamp.png" class="logo" />
</div>
</body>
</html>
