{% extends "base.html" %}
{% set active_page = "tick" %}
{% block content %}

<div class="cont">
  {% for t in ts%}
  <div class="tick">
    <div class="identr">
    <a>Ticket ID:</a>
    <a>{{t.id}}</a>
    </div>
    {% for mm in m %}
    {% if t.movie_id == mm.id %}
      <div class="mventr">
    Title:
    {{mm.title}}
      </div>
    {% endif %}
    {% endfor %}


    <a href="/gettick?tickid={{t.id}}"><button class="bookt">View ticket</button></a>
  </div>
  {% endfor%}
</div>

{% endblock %}
